.tarjeta{
    border: 3px solid orange;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:500px;
    height: 700px;
    margin-left: 425px;
    margin-bottom: 20px;
    background-color: azure;
}




